@tailwind base;
@tailwind components;
@tailwind utilities;

.course-topics ul {
  list-style-type: disc;
  padding-left: 1.5rem;
}

.course-topics ul li {
  margin-bottom: 0.8rem;
}

.course-topics ul li ul li {
  margin-bottom: 0.3rem;
}

.course-topics ul li ul li:first-child {
  margin-top: 0.3rem
}